.Container {
    margin-top: 15rem;
    text-align: center;
}

.btn-second {
    background-color: rgb(17, 191, 254);
    padding: .5rem;
    margin-top: .5rem;
    cursor: pointer;

}

.btn-primary {
    background-color: rgb(17, 191, 254);
    padding: .5rem;
    margin-top: .5rem;
    margin-left: 1rem;
    cursor: pointer;
}