* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke
}

.Container {
  margin-top: 15rem;
  text-align: center;
}

.btn-primary {
  background-color: rgb(17, 191, 254);
  padding: .5rem;
  margin-top: .5rem;
}